<div class="container">
  <div [hidden]="submitted">
    <h1>Case Creation</h1>
    <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
      <div class="row">
        <div class="col-sm">

          <div class="form-group">
            <label for="lawyerafm1">AFM 1</label>
            <input type="text" class="form-control" id="lawyerafm1"
                   required
                   [(ngModel)]="model.lawyerafm1" name="lawyerafm1"
                   #name="ngModel">
            <div [hidden]="name.valid || name.pristine"
                 class="alert alert-danger">
              Name is required
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="form-group">
            <label for="lawyerafm2">AFM 2</label>
            <input type="text" class="form-control" id="lawyerafm2"
                   [(ngModel)]="model.lawyerafm2" name="lawyerafm2">
          </div>
        </div>
      </div>

     

      <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>



    </form>
  </div>
  <div [hidden]="!submitted">
    <h1>Case Created</h1>
    <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
  </div>
</div>
